.Header {
  padding: 20px;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  grid-gap: 20px;
  align-items: center;
  background: mediumseagreen;
  color: white;
  border-bottom: 1px solid darkseagreen;
  
  .logo {
    width: 100%;
  }
  
  h1 {
    margin: 0;
  }
}